* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #89b4fa; /* Cappuccino color (light brown/beige) */
  color: #3E2A47; /* Mocha color (dark brown) */
}

button {
  background-color: #89b4fa; /* Mocha color */
  color: #F1E0C6; /* Light cappuccino/beige for text */
}

button:hover {
  background-color: #4A2C1C; /* Darker mocha for hover effect */
}

canvas {
  display: block; 
  image-rendering: pixelated; 
  border: 1px solid white;
  width: auto;
  height: auto;
}

select {
  display: inline-block;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
