* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-style: bold;
}

.can {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
  background-color: #141414;
  color: #3f6;
}

button {
  background-color: #141414;
  color: #3f6;
}

button:hover {
  background-color: #4A2C1C; 
}

canvas {
  display: block; 
  image-rendering: pixelated; 
  border: 1px solid white;
  width: auto;
  height: auto;
}

select {
  background-color: lightgreen; 

}

.sel {
  text-align: center;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
