* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: dodgerblue; /* Optional */
}

canvas {
  display: block; /* Removes extra spacing */
  image-rendering: pixelated; /* Prevents blurriness when scaled */
  border: 1px solid white;
  width: auto;
  height: auto;
}

select {
  display: inline-block;
}
